.fcLoading {
    position: relative;
    display: inline-block;
    width: var(--loading-width);
    height: var(--loading-height);
}

.fcLoadingTfc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.fcLoadingTfcItem {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: 0;
}

.fcLoadingTfcItem svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.fcLoadingTfc1 {
    top: 0;
    left: 0;
    width: calc(43 * var(--loading-width) / 49);
    height: calc(23 * var(--loading-height) / 69);
    opacity: 1;
    animation: loading-1 4s infinite linear both;
}

.fcLoadingTfc2 {
    top: calc(18 * var(--loading-height) / 69);
    left: calc(28 * var(--loading-width) / 49);
    width: calc(15 * var(--loading-width) / 49);
    height: calc(20 * var(--loading-height) / 69);
    opacity: 1;
    animation: loading-2 4s infinite linear both;
    -webkit-animation-delay: 0.24s;
}

.fcLoadingTfc3 {
    top: calc(35 * var(--loading-height) / 69);
    left: calc(29 * var(--loading-width) / 49);
    width: calc(11 * var(--loading-width) / 49);
    height: calc(11 * var(--loading-height) / 69);
    animation: loading-2 4s infinite linear both;
    -webkit-animation-delay: 0.48s;
}

.fcLoadingTfc4 {
    top: calc(40 * var(--loading-height) / 69);
    right: 0;
    width: calc(17 * var(--loading-width) / 49);
    height: calc(21 * var(--loading-height) / 69);
    -webkit-animation: loading-4 4s infinite linear both;
    animation: loading-4 4s infinite linear both;
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.fcLoadingTfc5 {
    bottom: 0px;
    left: calc(7.2 * var(--loading-width) / 49);
    width: calc(32 * var(--loading-width) / 49);
    height: calc(20 * var(--loading-height) / 69);
    animation: loading-5 4s infinite linear both;
    -webkit-animation-delay: 0.96s;
}

.fcLoadingTfc6 {
    top: calc(46.3 * var(--loading-height) / 69);
    left: calc(7.2 * var(--loading-width) / 49);
    width: calc(5 * var(--loading-width) / 49);
    height: calc(7 * var(--loading-height) / 69);
    animation: loading-6 4s infinite linear both;
    -webkit-animation-delay: 1.2s;
}

@-webkit-keyframes loading-1 {

    0%,
    10% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(-180deg) rotateX(0);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }
}

@keyframes loading-1 {

    0%,
    10% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(-180deg) rotateX(0);
        opacity: 0;
    }

    19.9% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes loading-2 {

    0%,
    10% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }
}

@keyframes loading-2 {

    0%,
    10% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes loading-4 {

    0%,
    10% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(-180deg) rotateX(0);
        opacity: 0;
    }
}

@keyframes loading-4 {

    0%,
    10% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(-180deg) rotateX(0);
        opacity: 0;
    }
}

@-webkit-keyframes loading-5 {

    0%,
    10% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }
}

@keyframes loading-5 {

    0%,
    10% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 100% 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }
}

@-webkit-keyframes loading-6 {

    0%,
    10% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        -webkit-transform-origin: 100% 100%;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        -webkit-transform-origin: 0 0;
        -webkit-transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        -webkit--webkit-transform-origin: 0 0;
        transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }
}

@keyframes loading-6 {

    0%,
    10% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(180deg);
        opacity: 0;
    }

    19.9% {
        transform-origin: 100% 100%;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    20%,
    80% {
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    80.1% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(0) rotateX(0);
        opacity: 1;
    }

    90%,
    100% {
        transform-origin: 0 0;
        transform: perspective(250px) rotateY(180deg) rotateX(0);
        opacity: 0;
    }
}